<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Trailix</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>runaway</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>

	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1058853410972-gp1jnf9sm1br069fuid5734kfgtv35l0</string>
			</array>
		</dict>

		<dict>
			<key>CFBundleURLName</key>
			<string>trailix.deep.link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>trailix</string>
			</array>
		</dict>

	</array>

	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>

	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mail</string>
		<string>email</string>
		<string>mailto</string>
		<string>googlegmail</string>
		<string>ms-outlook</string>
		<string>ymail</string>
		<string>readdle-spark</string>
	</array>

	<key>NSDocumentsFolderUsageDescription</key>
	<string>Cette application enregistre des fichiers dans le dossier Documents.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Cette application a besoin de votre localisation pour la navigation GPS</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Cette application a besoin de votre localisation pour la navigation GPS en arrière-plan</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Cette application a besoin de votre localisation pour la navigation GPS</string>

	<key>NSCameraUsageDescription</key>
	<string>your usage description here</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>your usage description here</string>

	<key>NSMotionUsageDescription</key>
	<string>This app requires access to the barometer to provide altitude information.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
